Source: uoitsci-ldap-config
Section: uoitsci-config/net
Priority: extra
Maintainer: Richard Drake <richard.drake@uoit.ca>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~), libldap2-dev
Standards-Version: 3.9.3

Package: uoitsci-ldap-config
Architecture: all
Depends: ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: LDAP configuration for UOIT Science
 This package configures your system to use ceres.science.uoit.ca and
 pallas.science.uoit.ca as its default LDAP servers.
